# Dependencias
node_modules/

# Variables de entorno
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Subidas y ficheros temporales
uploads/
tmp/

# Editores
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db
